<p id="notice"><%= notice %></p>

<div class='container'>
  <h3>Breastfeeding details</h3>

  <p>
    <strong>Date:</strong>
    <%= @breastfeeding.date %>
  </p>

  <p>
    <strong>Milk:</strong>
    <%= @breastfeeding.milk %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= @breastfeeding.time %>
  </p>

  <p>
    <strong>Baby:</strong>
    <%= @breastfeeding.baby_id %>
  </p>

<%= link_to 'Edit', edit_breastfeeding_path(@breastfeeding) %> |
<%= link_to 'Back', breastfeedings_path %>

</div>

