<p id="notice"><%= notice %></p>

<h1>Babies</h1>

<table>
  <thead>
    <tr>
      <th> Baby </th>
      <th> Total Milk Breastfed </th>
      <th> Detail </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @babies.each do |baby| %>
      <tr>
        <td><%= baby.id %></td>
        <td><%= baby.total %></td>
        <td>
          <table>
            <thead>
              <tr>
                <th> Times Breastfed </th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <% baby.breastfeedings.each do |breastfeeding| %>
                <tr>
                  <td><%= "Breastfeeding #{breastfeeding.id}" %></td>
                </tr>
              <% end  %>
            </tbody>
          
          </table> 

        </td>
        <td><%= link_to 'Show', baby %></td>
        <td><%= link_to 'Edit', edit_baby_path(baby) %></td>
        <td><%= link_to 'Destroy', baby, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
   
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Baby', new_baby_path %>
