<p id="notice"><%= notice %></p>

<h1>Baby log</h1>

<h3><strong>Baby id:</strong> <%= @baby.id %></h3>

<p>Breastfeeding log</p>

<table>
  <thead>
    <th>Id</th>
    <th>Time [m]</th>
    <th>Amount [g]</th>
    <th colspan="3"></th>
  </thead>
  <tbody>
    <% @baby.breastfeedings.each do |breastfeeding| %>
      <tr>
        <td><%= breastfeeding.id %></td>
        <td><%= breastfeeding.time %></td>
        <td><%= breastfeeding.milk %></td>
      </tr>
    <% end  %>
  </tbody>
</table>

<p>Today's Breastfeeding KPIs</p>
<table>
  <thead>
    <th># Times</th>
    <th>Last</th>
    <th>Time</th>
    <th>Amount<th>
    <th colspan="3"></th>
  </thead>
  <tbody>
    <tr>
      <td><%= @baby.times_today %></td>
      <td><%= @baby.last %></td>
      <td><%= @baby.time_today %></td>
      <td><%= @baby.total_today %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_baby_path(@baby) %> |
<%= link_to 'Back', babies_path %>
